.purchased__container {
  margin-top: 5em;
  display: flex;
  gap: 3em;
  margin-bottom: 5em;
}

.purchased__header {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.purchased__img {
  width: 100px;
  height: 100px;
  max-width: 200px;
}

.purchased__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.purchased__title {
  font-size: 1rem;
}

.purchased__date {
  color: rgb(186, 186, 186);
}